@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fira+Sans+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #0C1618;
    background-color: #adc3b7;
}

section {
    clear: both;
    max-width: 2100px;
    margin: 0 auto;
    background: #EFEFEF;
}

header {
    width: 100%;
    margin: 0 auto;
    top: 0;
    position: fixed;
    z-index: 10;
}

footer {
    padding: 15px 5%;
}

header,
footer {
    background-color: #0c1618;
    height: 75px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Barlow', sans-serif;
    color: #EFEFEF;
    letter-spacing: 3px;
}

h3 {
    font-family: 'Barlow', sans-serif;
    color: #004643;
    margin-bottom: 5px;
}

p {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #0C1618;
    text-align: justify;
}

.menu,
header .logo {
    line-height: 75px;
}

.logo {
    margin: 0 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #63B079;
    text-align: center;
}

header .logo {
    float: left;
}

.menu a {
    color: #EFEFEF;
}

.menu a:hover {
    border-bottom: 1px solid #EFEFEF;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    letter-spacing: 2px;
    font-size: 20px;
}

.menu .active {
    border-bottom: 1px solid #63B079 !important;
    color: #63B079;
    font-weight: bold;
}

.title-banner {
    overflow: hidden;
    height: 375px;
    width: 100%;
    position: relative;
    padding-top: 75px;
}

.title-text {
    font-size: 100%;
    text-align: center;
    height: 125px;
    bottom: 75px;
    background-color: rgba(12, 22, 24, .7);
    padding: 50px 50px;
    position: absolute;
    margin: 0 100px;
}

.title-text h2 {
    margin-bottom: 10px;
}

.title-text h3 {
    color: #EFEFEF;
}

.top-banner {
    height: 125px;
    width: 100%;
    background-color: #004643;
    padding-top: 75px;
    color: #EFEFEF;
    position: relative;
    font-size: 1.5em;
    text-align: center;
    line-height: 125px;
}

.button {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 500px;
    width: 130px;
    margin-top: 10px;
    padding: 3px 10px;
    display: inline-block;
    text-align: center;
}

.button.bright {
    background-color: #EFEFEF;
    color:#004643;
    border: 1px solid #EFEFEF;
}

.button.bright:hover {
    background-color: #004643;
    color:#EFEFEF;
    border: 1px solid #EFEFEF;
}

.button.dark {
    background-color: #004643;
    color:#EFEFEF;
    border: 1px solid #004643;
}

.button.dark:hover {
    background-color: #EFEFEF;
    color: #004643;
    border: 1px solid #004643;
}

#home-quote-image {
    background: url('../images/home-top-image.jpg') no-repeat center center;
    width: 100%;    
}

.title-image{
    height: 600px;
    width: 100%;
    
    /* animates zoom effect on loading page */
    animation-name: home-quote-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/*CREATING GRID FOR TWO/THREE COL SECTIONS*/

.two-col-section {
    height: 600px;
} 

.three-col-section {
    height: 675px;
}

#how-it-works .three-col-section {
    height: 375px;
}

.two-col-section, 
.three-col-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.two-col-section-left, 
.two-col-section-right, 
.three-col-section-left, 
.three-col-section-center, 
.three-col-section-right {
    height: inherit;
    display: flex;
    flex-basis: 100%;
    flex: 1;
    flex-direction: column;
}

.left-container {
    width:70%;
    margin: calc(25% - 75px) auto;
}

.two-col-section-right {
    object-fit: cover;
    overflow: hidden;
}

.two-col-section h3 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

.two-col-section p {
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.right-container {
    width: 525px;
    height: 400px;
    padding: 7px;
    margin: 93px auto;
    overflow: hidden;
    background: #0C1618;
}

#home-central-image {
    height: 394px;
    width: 99%;
    object-fit: cover;
    object-position: 27% 50%;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
    position: relative;
    z-index: 2;
}

.skew-bg {
    margin: -400px 0 0 -150px;
    transform: skew(0deg, -40deg);
    background: #004643;
    width: 1600px;
    height: 300px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

#featured-in {
    height: 125px;
    background-color: #004643;
    padding: 25px 0;
}

#featured-in h2 {
    text-align: center;
    width: 100%;
}

.block-container {
    display: flex;
    margin-top: 5px;
}

.inline-block {
    width: 20%;
    height: 100px;
    margin: 0 2.5%;
    display: flex;
    align-items: center;
}

/*Set height keeping aspect ratio and center horizontally*/
.news-logo {
    display: block;
    max-height: 80px;
    max-width: 70%;
    height: auto;
    width: auto;
    margin: 10px auto;
}

footer h2 {
    text-align: center;
    width: 100%;
}

.social-networks i{
    font-size: 150%;
    color: #EFEFEF;
    margin: 10px 15px;
}

.social-networks > li {
    display: inline;
}

.social-networks {
    text-align: center;
}

.section-title {
    height: 50px;
    width: 100%;
    background-color: #004643;
    color: #EFEFEF;
    position: relative;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border-color: #EFEFEF;
    border-width: 1px;
    border-style: solid;
}

.three-col-section-text {
    text-align: center;
    margin: 0 15%;
}

#how-it-works .three-col-section-text {
    margin: 75px 15%;
}

.three-col-section-text h2{
    color: #004643;
    text-align: center;
    margin-bottom: 5px;
}

.circle-container {
    width: 268px;
    height: 268px;
    padding: 7px;
    border-radius: 50%;
    margin: 40px auto;
    overflow: hidden;
    background: #0C1618;
}

.circle-container img {
    width: 262px;
    height: 262px;
    object-fit: cover;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.skew-l {
    margin: -80px 0 0 -50px;
    transform: skew(0deg, -40deg);
    background: #276438;
    width: 350px;
    height: 300px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

.skew-r {
    margin: -80px 0 0 -50px;
    transform: skew(0deg, 40deg);
    background: #b67907;
    width: 350px;
    height: 300px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

.skew-c {
    margin: -80px 0 0 -50px;
    transform: skew(0deg, 0deg);
    background: #8f2207;
    width: 350px;
    height: 285px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

.ptf-companies {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.company-container {
    background-color: #004643;
    height: 25vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #EFEFEF;
    border-width: 1px;
    border-style: solid;
}

.ptf-companies img {
    max-width: 40%;
    max-height: 33%;
    margin: 60px auto;
    object-fit: scale-down;
}

.company-container h2,
.company-container h3 {
    display: none;
}

.company-container:hover img {
    display: none;
}

.company-container:hover h2,
.company-container:hover h3 {
    display: block;
    width: 300px;
    color: #EFEFEF;
    line-height: 1;
    text-align: center;
    margin: 15px 0;
    letter-spacing: unset;
    text-transform: uppercase;
}

.plant-based:hover {
    background-color: #276438;
}

.cultivated:hover {
    background-color: #8f2207;
}

.insect-based:hover {
    background-color: #b67907;
}


/*how-to-invest page*/

#how-it-works {
    height: 450px;
}

/*form*/

.form-section {
    height: 960px;
}

.interest-form {
    width: 750px;
    height: 675px;
    margin: 75px auto;
    color: #EFEFEF;
    background-color: rgba(12, 22, 24, .7);
    padding: 30px 40px 30px 30px;
}

.interest-form > h2 {
    color: #EFEFEF;
    margin-bottom: 25px;
    letter-spacing: normal;
}

.interest-form > h3 {
    color: #EFEFEF;
    margin-bottom: 5px;
}

.text-input {
    background: #EFEFEF;
    color: #004643;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px 0;
    border: 2px solid #EFEFEF;
    border-radius: 4px;
    padding: 0 5px;
}

.text-input:hover {
    border-color: #63B079;
}

.radio-group, 
.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.2rem;
}

.radio-item, .input-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.input-item{
    flex-direction: column;
    min-width: 280px;
}
.input-item input {
    margin-top: -7px;
}

.radio-item label{
    position: relative;
    display: block;
    top: -3px;
}

.submit-button {
    margin-top: 20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color: #004643;
    color:#EFEFEF;
    display: block;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #004643;
}

/*RESPONSIVENESS*/

/* laptop styles and smaller styles */
@media screen and (max-width: 1200px) {
    .right-container {
        width: calc(100% - 100px);
    }

    .three-col-section-text h2 {
        height: 58px;
    }

    #how-it-works .three-col-section-text {
        margin-top: 50px;
    }
    
    #how-it-works h2 {
        height: 75px;
        margin-bottom: 15px;
    }
}
 
/* tablets landscape and smaller styles */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 26px;
    }

    h2{
        font-size: 22px;
    }
    
    .two-col-section h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .two-col-section p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .two-col-section-left {
        height: 375px;
        margin: auto;
    }


    .logo {
        margin: 0 20px;
    }

    .menu li {
        margin-right: 20px;

    }

    .circle-container {
        width: 190px;
        height: 190px;
    }

    .title-text {
        height: 185px;
        margin: 0 50px;
        top: 120px;
    }

    .circle-container img {
        width: 184px;
        height: 184px;
    }

    .skew-r {
        margin-top: -20px;
    }

    #how-it-works .three-col-section-text {
        margin-top: 15px;
    }

    .interest-form {
        width: 630px;
    }

}

/* tablets portait and smaller styles */
@media screen and (max-width: 767px) {
 
}
 
/* phone styles and smaller */
@media screen and (max-width: 576px) {

}


/*KEYFRAMES*/

@keyframes home-quote-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}