@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fira+Sans+Condensed:wght@300&display=swap');

/* general CSS rules*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Barlow', sans-serif;
    color: #EFEFEF;
    letter-spacing: 3px;
}

h3 {
    font-family: 'Barlow', sans-serif;
    color: #004643;
    margin-bottom: 5px;
}

p {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #0C1618;
    text-align: justify;
}


body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #0C1618;
    background-color: #adc3b7;
}

section {
    clear: both;
    max-width: 2100px;
    margin: 0 auto;
    background: #EFEFEF;
}

.section-title {
    height: 50px;
    width: 100%;
    background-color: #004643;
    color: #EFEFEF;
    position: relative;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

/*header*/
header {
    width: 100%;
    margin: 0 auto;
    top: 0;
    position: fixed;
    z-index: 10;
}

.header-container {
    max-width: 2100px;
    margin: auto;
}

.menu,
header .logo {
    line-height: 75px;
}

.logo {
    margin: 0 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #63B079;
    text-align: center;
}

header .logo {
    float: left;
}

.menu a {
    color: #EFEFEF;
}

.menu a:hover {
    border-bottom: 1px solid #EFEFEF;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    letter-spacing: 2px;
    font-size: 20px;
}

.menu .active {
    border-bottom: 1px solid #63B079 !important;
    color: #63B079;
    font-weight: bold;
}

/*footer*/
header,
footer {
    background-color: #0c1618;
    height: 75px;
}

footer {
    padding: 15px 0;
    bottom: 0;
    width: 100%;
}

footer h2 {
    text-align: center;
    width: 100%;
}

.contacts   {
    margin-top: 5px;
    text-align: center;
}

.contacts div {
    display: inline-block;
    margin: 0 5px;
}

.contacts p {
    color: #EFEFEF;
    text-align: center;
}

.social-networks i{
    font-size: 150%;
    color: #EFEFEF;
    margin: 10px 15px;
}

.social-networks > li {
    display: inline;
}

.social-networks {
    text-align: center;
}

/*homepage section with picture in the background and presentation quote*/
.title-banner {
    overflow: hidden;
    height: 450px;
    width: 100%;
    position: relative;
    padding-top: 75px;
}

.title-text {
    font-size: 100%;
    text-align: center;
    height: 125px;
    bottom: 110px;
    background-color: rgba(12, 22, 24, .8);
    padding: 50px 10%;
    position: absolute;
    margin: 0 5%;
}

.title-text h2 {
    margin-bottom: 10px;
}

.title-text h3 {
    color: #EFEFEF;
}

.hide-mobile .home-quote-image {
    background: url('../images/home-top-image.jpg') no-repeat center center;
    width: 100%;    
}

.show-mobile .home-quote-image {
    background: url('../images/home-top-image.avif') no-repeat center center;
    width: 100%;    
}

.title-image{
    height: 600px;
    width: 100%;
    
    /* animates zoom effect on loading page */
    animation-name: home-quote-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/*featured-in news homepage section*/
#featured-in {
    height: 150px;
    background-color: #004643;
    padding: 50px 0;
}

#featured-in h2 {
    text-align: center;
    width: 100%;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
}

.news-logo {
    display: block;
    max-height: 80px;
    max-width: 70%;
    height: auto;
    width: auto;
    margin: 10px auto;
}

.block-container {
    display: flex;
    margin-top: 5px;
}

.inline-block {
    width: 20%;
    height: 100px;
    margin: 0 2.5%;
    display: flex;
    align-items: center;
}

/* about and how-to-invest page titles*/
.top-banner {
    height: 125px;
    width: 100%;
    background-color: #004643;
    padding-top: 75px;
    color: #EFEFEF;
    position: relative;
    font-size: 1.5em;
    text-align: center;
    line-height: 125px;
}

/*button links*/
.button {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 500px;
    width: 130px;
    margin-top: 10px;
    padding: 3px 10px;
    display: inline-block;
    text-align: center;
}

.button.bright {
    background-color: #EFEFEF;
    color:#004643;
    border: 1px solid #EFEFEF;
}

.button.bright:hover {
    background-color: #004643;
    color:#EFEFEF;
    border: 1px solid #EFEFEF;
}

.button.dark {
    background-color: #004643;
    color:#EFEFEF;
    border: 1px solid #004643;
}

.button.dark:hover {
    background-color: #EFEFEF;
    color: #004643;
    border: 1px solid #004643;
}

/*creating grids for two/three-col-sections in about and how-to-invest pages*/
.two-col-section {
    height: 600px;
} 

.three-col-section {
    height: 675px;
}

#how-it-works .three-col-section {
    height: 375px;
}

.two-col-section, 
.three-col-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.two-col-section-left, 
.two-col-section-right, 
.three-col-section-left, 
.three-col-section-center, 
.three-col-section-right {
    height: inherit;
    display: flex;
    flex-basis: 100%;
    flex: 1;
    flex-direction: column;
}

/*two-col-section content properties*/
.two-col-section-right {
    object-fit: cover;
    overflow: hidden;
}

.two-col-section h2 {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
    color: #004643;
    letter-spacing: normal;
}

.two-col-section p {
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.right-container {
    width: 525px;
    height: 400px;
    padding: 7px;
    margin: 93px auto;
    overflow: hidden;
    background: #0C1618;
}

.left-container {
    width:70%;
    margin: calc(25% - 100px) auto;
}

#home-central-image {
    height: 394px;
    width: 99%;
    object-fit: cover;
    object-position: 27% 50%;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
    position: relative;
    z-index: 2;
}

.skew-bg {
    margin: -400px 0 0 -150px;
    transform: skew(0deg, -40deg);
    background: #004643;
    width: 1600px;
    height: 300px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

/*three-col-section content properties*/
.three-col-section-text {
    text-align: center;
    margin: 0 15%;
}

#how-it-works .three-col-section-text {
    margin: 75px 15%;
}

#how-it-works {
    height: 450px;
}

.three-col-section-text h2{
    color: #004643;
    text-align: center;
    margin-bottom: 5px;
}

.circle-container {
    width: 268px;
    height: 268px;
    padding: 7px;
    border-radius: 50%;
    margin: 40px auto;
    overflow: hidden;
    background: #0C1618;
}

.circle-container img {
    width: 262px;
    height: 262px;
    object-fit: cover;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.skew-l {
    margin: -80px 0 0 -50px;
    transform: skew(0deg, -40deg);
    background: #276438;
    width: 350px;
    height: 300px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

.skew-r {
    margin: -80px 0 0 -50px;
    transform: skew(0deg, 40deg);
    background: #b67907;
    width: 350px;
    height: 300px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

.skew-c {
    margin: -80px 0 0 -50px;
    transform: skew(0deg, 0deg);
    background: #8f2207;
    width: 350px;
    height: 285px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
}

/*ptf-companies grid section*/
.ptf-companies {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.company-container {
    background-color: #004643;
    height: 25vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #EFEFEF;
    border-width: 1px;
    border-style: solid;
}

.ptf-companies img {
    max-width: 40%;
    max-height: 33%;
    margin: 60px auto;
    object-fit: scale-down;
}

.company-container h2,
.company-container h3 {
    display: none;
}

.company-container:hover img {
    display: none;
}

.company-container:hover h2,
.company-container:hover h3 {
    display: block;
    width: 300px;
    color: #EFEFEF;
    line-height: 1;
    text-align: center;
    margin: 15px 0;
    letter-spacing: unset;
    text-transform: uppercase;
}

.plant-based:hover {
    background-color: #276438;
}

.cultured:hover {
    background-color: #8f2207;
}

.insect-based:hover {
    background-color: #b67907;
}

/*form*/
.form-section {
    height: 960px;
}

.interest-form {
    width: 750px;
    height: 675px;
    margin: 75px auto;
    color: #EFEFEF;
    background-color: rgba(12, 22, 24, .7);
    padding: 30px 40px 30px 30px;
}

.interest-form > h2 {
    color: #EFEFEF;
    margin-bottom: 25px;
    letter-spacing: normal;
}

.interest-form > h3 {
    color: #EFEFEF;
    margin-bottom: 5px;
}

.text-input {
    background: #EFEFEF;
    color: #004643;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px 0;
    border: 2px solid #EFEFEF;
    border-radius: 4px;
    padding: 0 5px;
}

.text-input:hover {
    border-color: #63B079;
}

.radio-group, 
.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.2rem;
}

.radio-item, .input-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.input-item{
    flex-direction: column;
    min-width: 280px;
}
.input-item input {
    margin-top: -7px;
}

.radio-item label{
    position: relative;
    display: block;
    top: -3px;
}

.submit-button {
    margin-top: 20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color: #004643;
    color:#EFEFEF;
    display: block;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #004643;
}


.two-col-section.error404 {
    height: 100vh;
}

footer.error404 {
    position: fixed;
    bottom: 0;
    z-index: 3;
}

/*mobile responsiveness swtich off*/
.hide-mobile {
    display: block;
}

.show-mobile {
    display: none;
}

/* laptop styles and smaller styles */
@media screen and (max-width: 1200px) {
    
    .right-container {
        width: calc(100% - 100px);
    }

    .three-col-section-text h2 {
        height: 58px;
    }

    #how-it-works .three-col-section-text {
        margin-top: 50px;
    }
    
    #how-it-works h2 {
        height: 75px;
        margin-bottom: 15px;
    }
}
 
/* tablets landscape and smaller styles */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 26px;
    }

    h2{
        font-size: 22px;
    }
    
    .two-col-section h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .two-col-section p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .two-col-section-left {
        height: 375px;
        margin: auto;
    }

    .logo {
        margin: 0 20px;
    }

    .menu li {
        margin-right: 20px;

    }

    .circle-container {
        width: 190px;
        height: 190px;
    }

    .title-text {
        height: 185px;
        margin: 0 50px;
        top: 165px;
    }

    .circle-container img {
        width: 184px;
        height: 184px;
    }

    .skew-r {
        margin-top: -20px;
    }

    #how-it-works .three-col-section-text {
        margin-top: 15px;
    }

    .interest-form {
        max-width: 630px;
    }

    .skew-bg {
        margin: -132px 0 0 96px;
        width: 400px;
        height: 500px;
    }

    .ptf-companies img {
        max-width: 50%;
        max-height: 50%;
        margin: 60px auto;
        object-fit: scale-down;
    }
}

/* tablets portait and smaller styles */
@media screen and (max-width: 767px) {
    
    h1 {
        font-size: 22px;
    }

    h2{
        font-size: 20px;
    }
    
    header .logo {
        float: none;
        line-height: 60px;
    }

    header {
        height: 120px;
    }

    .menu {
        line-height: 30px;
        text-align: center;
    }

    .menu li {
        float: none;
    }

    ul.menu {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    ul.menu li {
        flex: 0 0 auto;
    }

    .top-banner {
        height: 60px;
        padding-top: 125px;
        line-height: 25px;
    }

    .title-text {
        height: 210px;
        top: 175px;
    }

    .two-col-section {
        display: block;
        height: 825px;
    }

    .two-col-section p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .two-col-section-left,
    .two-col-section-right {
        flex-direction: column;
        margin-top: 0px;
        padding: 25px 10px;
    }

    .two-col-section-right {
        height: 400px;
        padding: 0;
    }

    .left-container {       
        text-align: center;
        width: 80%;
    }

    .right-container {
        margin: 0;
        min-width: 225px;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

    .show-mobile img {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 2% 16%;
    }

    .skew-bg {
        margin: -330px 0 0 -100px;
        width: 800px;
        height: 400px;
    }

    .three-col-section {
        display: block;
        height: 1500px
    }

    .three-col-section-center,
    .three-col-section-left,
    .three-col-section-right {
        flex-direction: column;
        height: 500px; 
    }

    #how-it-works {
        height: 825px;
    }

    #how-it-works .three-col-section {
        height: 750px
    }

    #how-it-works .three-col-section-center,
    #how-it-works .three-col-section-left,
    #how-it-works .three-col-section-right {
        height: 250px; 
    }

    #how-it-works h2 {
        height: 50px;
        margin-bottom: 0;
    }

    #how-it-works .three-col-section-text {
        margin: auto 15%
    }

    .form-section {
        height: auto;
    }

    .interest-form {
        max-width: 100%;
        margin: auto;
    }

    .input-group {
        flex-direction: column;
        min-width: auto;
    }

    .text-input {
        width: calc(100% - 2.4rem);
    }

    .radio-group {
        width: 90%;
        justify-content: space-between;
    }

    .radio-group label {
        margin: auto 0;
    
    }

    .radio {
        width: 30px;
        height: 30px;
    }

    input.submit-button {
        width: 100%
    }

    .ptf-companies {
        column-count: 2;
    }

    .interest-form {
        max-width: 450px;
        width: 100%;
    }
}

/* phone styles and smaller */
@media screen and (max-width: 576px) {

    ul.menu li {
        margin: auto;
        width: 33%;
        font-size: 18px;
    }

    .title-text {
        height: auto;
        top: 110px;
        bottom: 15px;
        padding: 20px 20px;
        margin: 25px 20px 0 20px;
    }

    .title-banner {
        padding-top: 75px;
        height: 400px;
    }

    .title-text h3 {
        text-align: justify;
    }

    .title-text h2 {
        margin-bottom: 5px;
    }

    .title-text .button {
        margin-top: 5px;
    }

    .logo {
        margin: 0;
        font-size: 18px;
    }

    .two-col-section {
        display: block;
        height: 725px;
    }

    .two-col-section p {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    .two-col-section-left,
    .two-col-section-right {
        flex-direction: column;
        margin-top: 0px;
        padding: 25px 10px;
    }

    .two-col-section-right {
        height: 300px;
        padding: 0;
    }

    .left-container {       
        text-align: center;
        width: 80%;
        margin: calc(25% - 75px) auto;
    }

    .right-container {
        margin: 0;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

    .show-mobile img {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: 0% 16%;
    }

    .three-col-section {
        height: 1800px;
    }

    .three-col-section-center,
    .three-col-section-left,
    .three-col-section-right {
        height: 600px; 
    }
    
    .companies .section-title, 
    .form-section .section-title {
        height: 104px;
    }

    .ptf-companies img {
        max-width: 70%;
        max-height: 70%;
        margin: 60px auto;
        object-fit: scale-down;
    }

    .interest-form {
        max-width: 260px;
        height: 900px;
    }

    .radio-group {
    flex-direction: column;
    }

    .radio-item {
        margin-top: 15px;
    }

    .form-section {
        height: 1000px;
    }

    .input-group {
        padding: 0.5rem 0.5rem;
    }

    .two-col-section.error404 {
        padding: 30% 0;
    }

}

/*keyframes*/
@keyframes home-quote-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.2);
    }
}